.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.deleteBadge:hover {
  cursor: pointer;
}

.noPassText {
  text-align: center;
  font-size: 1.2rem;
}

.buttonContainer {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.react-datepicker__input-container input {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid grey;
}

.defaultButton {
  width: 150px;
}
